.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  position: relative;
  max-width: 720px;
  background: #ffffff;
  min-width: 0;
  padding: 4px 8px;
}
.userAvatarNameEmailParent {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.userAvatarNameEmailParent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.userAvatarNameEmailParent > :global(.__wab_flex-container) > *,
.userAvatarNameEmailParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 8px;
}
.elementRadioPrimary:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.userAvatar:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.img__c2JzG {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img___6EeSe {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__jISxc {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__teMuV {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__veZa {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__hSOtC {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__uyJDa {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img___6E2Vv {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__irb2R {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__x5GEi {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__eQPh {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.userInfoParent {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.userInfoParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.userInfoParent > :global(.__wab_flex-container) > *,
.userInfoParent > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.usernameParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.freeBox__eyTPw {
  color: #333333 /* plasmic-token: eab2NGdET7I8pxu */;
  font-weight: 500;
  font-size: 14px;
}
.userEmailParent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.freeBox__aJfL8 {
  color: #999999 /* plasmic-token: FdfLJd_ZiAuzuG5 */;
  font-size: 12px;
}
.userAction {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.userAction > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.userAction > :global(.__wab_flex-container) > *,
.userAction > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.userRole {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 2px 6px;
}
.freeBox__mlv8 {
  font-size: 14px;
  font-weight: 500;
  color: #333333 /* plasmic-token: eab2NGdET7I8pxu */;
}
.selectRole:global(.__wab_instance) {
  position: relative;
}
.option__o072:global(.__wab_instance) {
  position: relative;
}
.option__zi1Ah:global(.__wab_instance) {
  position: relative;
}
.buttonPrimary:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.buttonPrimary__action_button:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__e88Ln {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: TRM0EIRKSyuBRFC */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.removeTeamMember:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
