.root {
  display: inline-flex;
  flex-direction: row;
  width: auto;
  height: auto;
  position: relative;
  background: #ffffff;
  padding: 8px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.orderSelectImageCaptionEditParent {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.orderSelectImageCaptionEditParent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.orderSelectImageCaptionEditParent > :global(.__wab_flex-container) > *,
.orderSelectImageCaptionEditParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 8px;
}
.elementRadioPrimary:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.orderImageTitleParent {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: 270px;
  height: auto;
  flex-shrink: 0;
}
.orderImageTitleParent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.orderImageTitleParent > :global(.__wab_flex-container) > *,
.orderImageTitleParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 8px;
}
.imageServiceLink {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: auto;
  width: auto;
  height: auto;
}
.imagePrimary:global(.__wab_instance) {
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
._70X404 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__eLz8F {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__wWbNl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__bmKc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___5ER9U {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__njY3O {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__gsFWf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__kvHo3 {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img__rfasH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__zuIv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__kkg4R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__pNni4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__zsgCc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___17Gv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ovwRq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__j7PcO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__sLiw8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___7Bx5A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__bvWYz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__l6Efe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__fLsXg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__cHhvh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__r9DuX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__zKdl8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__qUr8R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__db3WR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__zaYfp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___6Fz6I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__yR8Iz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__pQNm1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__eroP6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__tz0K1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__kl7Jz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__mtme {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__qDxj2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__uQmYt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__drVxa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__t28Xq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.serviceTitleParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  min-height: 0;
  padding: 0px 4px 2px;
}
.serviceTitleParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.serviceTitleParent > :global(.__wab_flex-container) > *,
.serviceTitleParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 0px;
}
.serviceTitleLink {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__okVa {
  color: #000000 /* plasmic-token: K3rkTqBqZfRAL15 */;
  font-weight: 500;
  font-size: 12px;
  width: 100%;
  height: auto;
  min-width: 0;
}
.buttonUserOrderContact {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  align-content: unset;
  padding: 0px;
  border-width: 0px;
  border-style: none;
}
.svg__vnorU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #999999 /* plasmic-token: ofqqjzLWVihRT6L */;
  min-width: 0;
  min-height: 0;
}
.svgIcon22 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svgIcon3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__yExMg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__pnLYz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__wwIbV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___1WwDk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___1SLk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__gFl55 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__c4J4K {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.progressParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  height: auto;
  width: 96px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .progressParent {
    display: none;
  }
}
.svgIcon23 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffcc33 /* plasmic-token: TPMnYF9c0V3DTuJ */;
  min-width: 0;
  min-height: 0;
}
.svgIcon23__status_complete {
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.svgIcon23__status_cancelled {
  color: #cc0033 /* plasmic-token: yUXGOexM9cghg9R */;
}
.svg___8XSn5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__dn7Xb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__dtL0I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__s1MxV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__prb1A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__fVwR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__itQsx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__jYve {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__j4UTa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__yv8Ql {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__aCy4U {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__tgyjB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___6TUVz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___03Qrj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__sbzTv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__yCvmy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__eeoBh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__hhtfj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___4UtG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__iXaxl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___15TN8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__o5A9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__svRnY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___3ULb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__x0QR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__ln4UQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__dWwFy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___5B5Xg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__nk21P {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__bACyh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__uybMy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__aj7Rb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___3VyI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__vELwp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___5Xife {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__xcNq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__mbCxo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__l3UvN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__pl3I4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___3UCq2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__gSnSn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__pipxt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___1N8Yq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___5KOu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___4ZeId {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__ojUbx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__kuz39 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__j2Xmd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__z8Dg2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__njkWy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__d8Q8M {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__njXf7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__bRm7X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__q7Vg8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__fgXky {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__flb0I {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__n2RnR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__hppCb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__pIxea {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__jksLa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__wNo7J {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__w91Hc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___16ER {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__n2L6M {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___3AId9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__grPc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___8F9X8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__i6K6A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__i8Mhe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___4Sbje {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__v81BG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__qas9J {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__xmv0S {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__jYb1 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___9NRgd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__lePoy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__k7ETn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__t7C7O {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__twLLl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__zIoW3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__xwU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__ay0DG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__rNryJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__znMU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__wRcWg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__uwctW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__ti7Mv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__x1Bfg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__fMYjL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__rTFta {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__luCw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__cdl2T {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__zkvbB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__fAeZ2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__oo1Ok {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__hiixk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__qnf05 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___9Zydv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___44SM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.priceParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 96px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .priceParent {
    display: none;
  }
}
.currency {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.numberValue {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.partnerAvatarParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 96px;
  align-content: unset;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .partnerAvatarParent {
    display: none;
  }
}
.userAvatarButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__rU3Ua {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 100%;
  border: 2px none #f1f1f1 /* plasmic-token: akLbEnRWsJyyX4k */;
}
.notificationsParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 96px;
  align-content: unset;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .notificationsParent {
    display: none;
  }
}
.orderNotification {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.deliveryDateParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .deliveryDateParent {
    display: none;
  }
}
.freeBox___1Yy8 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  width: 96px;
  flex-shrink: 0;
}
.reviewParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 96px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .reviewParent {
    display: none;
  }
}
.buttonUserOrderReview {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  align-content: unset;
  padding: 0px;
  border-width: 0px;
  border-style: none;
}
.svg__ydGDn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #999999 /* plasmic-token: ofqqjzLWVihRT6L */;
  min-width: 0;
  min-height: 0;
}
.svg__vmri2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__vkkZn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___5ZzU6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svgIcon5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__i2VT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__yKrQx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__oGr75 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__q3Jwi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg___50KE9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.approvedParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  width: 96px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .approvedParent {
    display: none;
  }
}
.switchPrimary:global(.__wab_instance) {
  flex-shrink: 0;
}
.cancelParent {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  width: 64px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 414px) {
  .cancelParent {
    display: none;
  }
}
.buttonCircleDelete:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
