.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.freeBox {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}
.slotChildren {
  font-size: 12px;
  font-weight: 700;
  color: #999999 /* plasmic-token: ofqqjzLWVihRT6L */;
  text-transform: uppercase;
}
.radioCheckboxCard___7K7Ms:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__sjMmH:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard___12D9A:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage___12D9Ax21Ei:global(.__wab_instance) {
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage___12D9AQx5QU:global(.__wab_instance) {
  flex-shrink: 0;
}
.radioCheckboxCard__web_ecommerce___12D9Alcukj:global(.__wab_instance) {
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileApp___12D9ALtG01:global(.__wab_instance) {
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileEcommerce___12D9ACw3Y:global(.__wab_instance) {
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo___12D9ATIdz:global(.__wab_instance) {
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide___12D9AceOQl:global(.__wab_instance) {
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation___12D9A8Uh30:global(.__wab_instance) {
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem___12D9AEiWu4:global(.__wab_instance) {
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch___12D9AOv1Mm:global(.__wab_instance) {
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype___12D9AxHNoA:global(.__wab_instance) {
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting___12D9AOaYiS:global(.__wab_instance) {
  flex-shrink: 0;
}
.radioCheckboxCard__dI6Re:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__dI6Rex21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage__dI6ReQx5QU:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_ecommerce__dI6Relcukj:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileApp__dI6ReLtG01:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileEcommerce__dI6ReCw3Y:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__dI6ReTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__dI6ReceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__dI6Re8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__dI6ReEiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__dI6ReOv1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__dI6RexHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__dI6ReOaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__f7MoL:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__f7MoLx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage__f7MoLqx5QU:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_ecommerce__f7MoLlcukj:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileApp__f7MoLLtG01:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileEcommerce__f7MoLCw3Y:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__f7MoLTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__f7MoLceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__f7MoL8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__f7MoLeiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__f7MoLov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__f7MoLxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__f7MoLoaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__iv7Xi:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__iv7XIx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage__iv7Xiqx5QU:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_ecommerce__iv7XIlcukj:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileApp__iv7XiLtG01:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileEcommerce__iv7XiCw3Y:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__iv7XiTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__iv7XIceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__iv7Xi8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__iv7XieiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__iv7Xiov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__iv7XIxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__iv7XioaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard___190BA:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage___190BAx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage___190BAqx5QU:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_ecommerce___190BAlcukj:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileApp___190BALtG01:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileEcommerce___190BACw3Y:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo___190BATIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide___190BAceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation___190BA8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem___190BAeiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch___190BAov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype___190BAxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting___190BAoaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__kDSc:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__kDScx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage__kDScQx5QU:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_ecommerce__kDSclcukj:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileApp__kDScLtG01:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileEcommerce__kDScCw3Y:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__kDScTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__kDScceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__kDSc8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__kDScEiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__kDScOv1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__kDScxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__kDScOaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__k1KMh:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__k1KMHx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage__k1KMhqx5QU:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_ecommerce__k1KMHlcukj:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileApp__k1KMhLtG01:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileEcommerce__k1KMhCw3Y:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__k1KMhTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__k1KMHceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__k1KMh8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__k1KMheiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__k1KMhov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__k1KMHxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__k1KMhoaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__s75Nx:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__s75Nxx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage__s75NxQx5QU:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_ecommerce__s75Nxlcukj:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileApp__s75NxLtG01:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileEcommerce__s75NxCw3Y:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__s75NxTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__s75NxceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__s75Nx8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__s75NxEiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__s75NxOv1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__s75NxxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__s75NxOaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__jr2O8:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__jr2O8X21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage__jr2O8Qx5QU:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_ecommerce__jr2O8Lcukj:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileApp__jr2O8LtG01:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileEcommerce__jr2O8Cw3Y:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__jr2O8TIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__jr2O8CeOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__jr2O88Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__jr2O8EiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__jr2O8Ov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__jr2O8XHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__jr2O8OaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__djDj4:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__djDj4X21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage__djDj4Qx5QU:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_ecommerce__djDj4Lcukj:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileApp__djDj4LtG01:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mobile_mobileEcommerce__djDj4Cw3Y:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__djDj4TIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__djDj4CeOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__djDj48Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__djDj4EiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__djDj4Ov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__djDj4XHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__djDj4OaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__ph9XC:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__ph9XCx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage__ph9XCqx5QU:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__ph9XCTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__ph9XCceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__ph9XC8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__ph9XCeiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__ph9XCov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__ph9XCxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__ph9XCoaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__pWjXp:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__pWjXpx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage__pWjXpQx5QU:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__pWjXpTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__pWjXpceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__pWjXp8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__pWjXpEiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__pWjXpOv1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__pWjXpxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__pWjXpOaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard___2Xe9N:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage___2Xe9Nx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage___2Xe9NQx5QU:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo___2Xe9NTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide___2Xe9NceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation___2Xe9N8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem___2Xe9NEiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch___2Xe9NOv1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype___2Xe9NxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting___2Xe9NOaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__aogm8:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__aogm8X21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage__aogm8Qx5QU:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__aogm8TIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__aogm8CeOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__aogm88Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__aogm8EiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__aogm8Ov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__aogm8XHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__aogm8OaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard___3Dnzq:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage___3Dnzqx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage___3DnzqQx5QU:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo___3DnzqTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide___3DnzqceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation___3Dnzq8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem___3DnzqEiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch___3DnzqOv1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype___3DnzqxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting___3DnzqOaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__pD7Zk:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__pD7Zkx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage__pD7ZkQx5QU:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__pD7ZkTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__pD7ZkceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__pD7Zk8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__pD7ZkEiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__pD7ZkOv1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__pD7ZkxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__pD7ZkOaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard___4NNep:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage___4NNepx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage___4NNepQx5QU:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo___4NNepTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide___4NNepceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation___4NNep8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem___4NNepEiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch___4NNepOv1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype___4NNepxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting___4NNepOaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__k39VH:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__k39VHx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage__k39VHqx5QU:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__k39VHTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__k39VHceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__k39VH8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__k39VHeiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__k39VHov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__k39VHxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__k39VHoaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__bsNDs:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__bsNDsx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_multiPage__bsNDsQx5QU:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__bsNDsTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__bsNDsceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__bsNDs8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__bsNDsEiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__bsNDsOv1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__bsNDsxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__bsNDsOaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__bU6Pd:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__bU6Pdx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__bU6PdTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__bU6PdceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__bU6Pd8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__bU6PdEiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__bU6PdOv1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__bU6PdxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__bU6PdOaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__gehg6:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__gehg6X21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__gehg6TIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__gehg6CeOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__gehg68Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__gehg6EiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__gehg6Ov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__gehg6XHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__gehg6OaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__rEzt6:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__rEzt6X21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__rEzt6TIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__rEzt6CeOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__rEzt68Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__rEzt6EiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__rEzt6Ov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__rEzt6XHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__rEzt6OaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__pn9SG:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__pn9SGx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__pn9SGTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__pn9SGceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__pn9SG8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__pn9SGeiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__pn9SGov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__pn9SGxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__pn9SGoaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__r365R:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__r365Rx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__r365RTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__r365RceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__r365R8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__r365ReiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__r365Rov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__r365RxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__r365RoaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__iaoM:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__iaoMx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__iaoMTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__iaoMceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__iaoM8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__iaoMEiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__iaoMOv1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__iaoMxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__iaoMOaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__fK43L:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__fK43Lx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__fK43LTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__fK43LceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__fK43L8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__fK43LeiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__fK43Lov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__fK43LxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__fK43LoaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__mhQfg:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__web_singlePage__mhQfGx21Ei:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__mhQfgTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__mhQfGceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__mhQfg8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__mhQfgeiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__mhQfgov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__mhQfGxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__mhQfgoaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__kx9Zh:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__kx9ZhTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__kx9ZhceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__kx9Zh8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__kx9ZhEiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__kx9ZhOv1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__kx9ZhxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__kx9ZhOaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__ihw8:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__ihw8TIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__ihw8CeOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__ihw88Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__ihw8EiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__ihw8Ov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__ihw8XHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_usabilityTesting__ihw8OaYiS:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard___4Uu8T:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo___4Uu8TTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide___4Uu8TceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation___4Uu8T8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem___4Uu8TEiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch___4Uu8TOv1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype___4Uu8TxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__rczu6:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__rczu6TIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__rczu6CeOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__rczu68Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__rczu6EiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__rczu6Ov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__rczu6XHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__juMuK:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__juMuKTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__juMuKceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__juMuK8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__juMuKeiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__juMuKov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_prototype__juMuKxHNoA:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__bWqv7:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__bWqv7TIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__bWqv7CeOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__bWqv78Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__bWqv7EiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__bWqv7Ov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__ivFuc:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__ivFucTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__ivFuCceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__ivFuc8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__ivFuceiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__uxDesign_userResearch__ivFucov1Mm:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__pDUhM:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__pDUhMTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__pDUhMceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__pDUhM8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_designSystem__pDUhMeiWu4:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__lvcco:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__lvccoTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__lvccOceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__lvcco8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__zNoVx:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__zNoVxTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__zNoVxceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_slidePresentation__zNoVx8Uh30:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__wH7Qr:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__wH7QrTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__wH7QrceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__hyZdG:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__hyZdGTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__hyZdGceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__xrgFn:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__xrgFnTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide__xrgFNceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard___1SpiE:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo___1SpiETIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_brandGuide___1SpiEceOQl:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard___5CwMn:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo___5CwMnTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__lWoKd:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__lWoKdTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__aVWd:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo__aVWdTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.radioCheckboxCard___8Hwxe:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.radioCheckboxCard__brandDesign_logo___8HwxeTIdz:global(.__wab_instance) {
  left: auto;
  top: auto;
  flex-shrink: 0;
}
