.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navbarInternal:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.sectionMarketHeadline {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 64px 24px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .sectionMarketHeadline {
    padding-left: 120px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: unset;
    padding-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .sectionMarketHeadline {
    padding-top: 16px;
  }
}
.sectionNewServiceListings {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  padding-left: 24px;
  min-width: 0;
}
.sectionNewServiceListings > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionNewServiceListings > :global(.__wab_flex-container) > *,
.sectionNewServiceListings
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .sectionNewServiceListings {
    padding-left: 120px;
  }
}
.freeBox__eHD1 {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: K3rkTqBqZfRAL15 */;
  align-self: stretch;
}
.freeBox__bAUwV {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #666666 /* plasmic-token: Bpqg84Cm8ulE9V1 */;
  align-self: stretch;
}
.freeBox___2Ngxj {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  padding-left: 0px;
  min-width: 0;
}
.freeBox___2Ngxj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___2Ngxj > :global(.__wab_flex-container) > *,
.freeBox___2Ngxj > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__ai5VI {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #666666 /* plasmic-token: Bpqg84Cm8ulE9V1 */;
  align-self: stretch;
}
.freeBox__p6DyY {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  overflow: auto;
  height: auto;
  min-width: 0;
  padding: 16px 0px;
}
.freeBox__p6DyY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__p6DyY > :global(.__wab_flex-container) > *,
.freeBox__p6DyY > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.chipUserProfile__dD1Is:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__ztBZ {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.chipUserProfile__rATy:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__xYxNe {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.chipUserProfile__oYpss:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img___2KOri {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.chipUserProfile__fwCJy:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__mKaEo {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.chipUserProfile__v3E:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__uhpEl {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.chipUserProfile___1V30O:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__v4Y4V {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.freeBox__cx72W {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  padding-left: 0px;
  min-width: 0;
}
.freeBox__cx72W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__cx72W > :global(.__wab_flex-container) > *,
.freeBox__cx72W > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox___31P9T {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #666666 /* plasmic-token: Bpqg84Cm8ulE9V1 */;
  align-self: stretch;
}
.freeBox__wMblm {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  overflow: auto;
  height: auto;
  min-width: 0;
  padding: 16px 0px;
}
.freeBox__wMblm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wMblm > :global(.__wab_flex-container) > *,
.freeBox__wMblm > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.chipUserProfile___6DRLj:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__fWb4A {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.chipUserProfile__twxpB:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__ggFf3 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.chipUserProfile__eSvUi:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__liu0B {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.chipUserProfile__uov8J:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img___0CuS {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.chipUserProfile___6RsJx:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__jktom {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.chipUserProfile___8V7Um:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__z8O5O {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.sectionServiceCollections {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  padding-left: 24px;
  padding-bottom: 96px;
  padding-top: 48px;
}
.sectionServiceCollections > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionServiceCollections > :global(.__wab_flex-container) > *,
.sectionServiceCollections
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 1440px) {
  .sectionServiceCollections {
    padding-left: 120px;
  }
}
.freeBox__ox5Hs {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: K3rkTqBqZfRAL15 */;
  align-self: stretch;
}
.freeBox__szbrV {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #666666 /* plasmic-token: Bpqg84Cm8ulE9V1 */;
  align-self: stretch;
}
.freeBox__jUd8R {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  overflow: auto;
  height: auto;
  min-width: 0;
  padding: 16px 0px;
}
.freeBox__jUd8R > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__jUd8R > :global(.__wab_flex-container) > *,
.freeBox__jUd8R > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.cardServiceDisplay__hdGp2:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__kb9GG {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img__wxn5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardServiceDisplay__cQn5J:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__l9EHr {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img___1Uxj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardServiceDisplay__ftDWn:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__ruZa {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img__luxNm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardServiceDisplay__v96Do:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__yuqTv {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img___1GD0P {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardServiceDisplay__guEw:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__xutz {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img__wwyvo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardServiceDisplay__xNuxd:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__g02Rw {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img__uuTWw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__owbvX {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  padding-left: 0px;
}
.freeBox__owbvX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__owbvX > :global(.__wab_flex-container) > *,
.freeBox__owbvX > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox___4DqCb {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: K3rkTqBqZfRAL15 */;
  align-self: stretch;
}
.freeBox__mqzAu {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #666666 /* plasmic-token: Bpqg84Cm8ulE9V1 */;
  align-self: stretch;
}
.freeBox__b7Jcj {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  overflow: auto;
  height: auto;
  min-width: 0;
  padding: 16px 0px;
}
.freeBox__b7Jcj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__b7Jcj > :global(.__wab_flex-container) > *,
.freeBox__b7Jcj > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.cardServiceDisplay___6Go:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img___87Qtg {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img__wjbb4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardServiceDisplay__uxbCc:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img___674Ym {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img__jBv8A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardServiceDisplay___4QkiT:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img___03X3G {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img__pitWi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardServiceDisplay__leMGq:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__rPwr1 {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img___42PU0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardServiceDisplay__ubC3M:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__cqKoi {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img___8M7IW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardServiceDisplay___8Vnh2:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__k3Ksz {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img__bJp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__gcUyD {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  padding-left: 0px;
}
.freeBox__gcUyD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__gcUyD > :global(.__wab_flex-container) > *,
.freeBox__gcUyD > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__jhIOm {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: K3rkTqBqZfRAL15 */;
  align-self: stretch;
}
.freeBox__oj4Tj {
  display: block;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.4;
  color: #666666 /* plasmic-token: Bpqg84Cm8ulE9V1 */;
  align-self: stretch;
}
.freeBox__ynU6A {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  overflow: auto;
  height: auto;
  min-width: 0;
  padding: 16px 0px;
}
.freeBox__ynU6A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ynU6A > :global(.__wab_flex-container) > *,
.freeBox__ynU6A > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.cardServiceDisplay__cYqvt:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__eou3S {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img__ngjgw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardServiceDisplay__dcO69:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__np03U {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img__hrJ8G {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardServiceDisplay__ku5MR:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__m1IPb {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img___6H6VY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardServiceDisplay__nd20:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__xmCe7 {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img__kYsxB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardServiceDisplay__wzyKp:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__frpox {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img__rqTA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.cardServiceDisplay___90T35:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.img__uNcu {
  object-fit: cover;
  width: 360px;
  height: 270px;
}
.img__kArVn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.footerB:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
}
