.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 40px;
}
.serviceListingNavbar {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.progressBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.freeBox__qi5Fk {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox__qi5Fk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: calc(0px - 360px);
  width: calc(100% + 360px);
}
.freeBox__qi5Fk > :global(.__wab_flex-container) > *,
.freeBox__qi5Fk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 360px;
}
.questionTitleBlock {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.questionTitleBlock > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.questionTitleBlock > :global(.__wab_flex-container) > *,
.questionTitleBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 64px;
}
.freeBox___2I0Pf {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: K3rkTqBqZfRAL15 */;
  align-self: stretch;
}
.freeBox___7JBvF {
  color: #6633ff /* plasmic-token: KRHsT0OlwmwHZhf */;
}
.inputTextField:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.toolTipServiceListing__zxvkS:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.svg__qBx9J {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #855cff /* plasmic-token: _5sv1ujFKO_17Uf */;
}
.freeBox___2Hncu {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox___2Hncu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: calc(0px - 360px);
  width: calc(100% + 360px);
}
.freeBox___2Hncu > :global(.__wab_flex-container) > *,
.freeBox___2Hncu > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 360px;
}
.questionDescriptionBlock {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
}
.questionDescriptionBlock > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.questionDescriptionBlock > :global(.__wab_flex-container) > *,
.questionDescriptionBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 64px;
}
.freeBox__w4Ko {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #000000 /* plasmic-token: K3rkTqBqZfRAL15 */;
  align-self: stretch;
}
.freeBox__diib9 {
  color: #6633ff /* plasmic-token: KRHsT0OlwmwHZhf */;
}
.inputRichTextField__xlL4Z:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.toolTipServiceListing___0INqs:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.svg__zyut7 {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #855cff /* plasmic-token: _5sv1ujFKO_17Uf */;
}
.freeBox__hi1Pa {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 40px 180px;
}
.freeBox__hi1Pa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: calc(0px - 360px);
  width: calc(100% + 360px);
}
.freeBox__hi1Pa > :global(.__wab_flex-container) > *,
.freeBox__hi1Pa > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 360px;
}
.questionProcessBlock {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.questionProcessBlock > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.questionProcessBlock > :global(.__wab_flex-container) > *,
.questionProcessBlock
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 64px;
}
.freeBox__heAyi {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox__heAyi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__heAyi > :global(.__wab_flex-container) > *,
.freeBox__heAyi > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.freeBox__a9Ia7 {
  display: block;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.2;
  color: #333333 /* plasmic-token: eab2NGdET7I8pxu */;
  align-self: stretch;
}
.freeBox__mzzOp {
  color: #6633ff /* plasmic-token: KRHsT0OlwmwHZhf */;
}
.freeBox__aKMjJ {
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
}
.inputRichTextField__fXwyH:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__nSrM {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
}
.freeBox__nSrM > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.freeBox__nSrM > :global(.__wab_flex-container) > *,
.freeBox__nSrM > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 6px;
}
.freeBox__twOke {
  position: relative;
  left: auto;
  top: auto;
  width: 360px;
  color: #333333 /* plasmic-token: eab2NGdET7I8pxu */;
}
.serviceListingProcessCard:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.toolTipServiceListing__iLop:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.svg__rQY6 {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: #855cff /* plasmic-token: _5sv1ujFKO_17Uf */;
}
.footerServiceListing:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
