.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.editListingSectionParent {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
.editListingSectionParent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.editListingSectionParent > :global(.__wab_flex-container) > *,
.editListingSectionParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 0px;
}
.navbarInternal:global(.__wab_instance) {
  position: relative;
}
.sectionHeaderEditListing {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 16px 180px 32px;
}
.sectionHeaderEditListing > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionHeaderEditListing > :global(.__wab_flex-container) > *,
.sectionHeaderEditListing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .sectionHeaderEditListing {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.freeBox__dPNij {
  font-weight: 700;
}
.sectionEditListing {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 16px 180px 96px;
}
.sectionEditListing > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.sectionEditListing > :global(.__wab_flex-container) > *,
.sectionEditListing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .sectionEditListing {
    width: 100%;
    height: auto;
    flex-direction: column;
    min-width: 0;
    padding: 16px 16px 96px;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .sectionEditListing > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: unset;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .sectionEditListing > :global(.__wab_flex-container) > *,
  .sectionEditListing
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.listingEditCategoryFieldsParent {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.listingEditCategoryFieldsParent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: calc(0px - 96px);
  width: calc(100% + 96px);
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.listingEditCategoryFieldsParent > :global(.__wab_flex-container) > *,
.listingEditCategoryFieldsParent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 96px;
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 414px) {
  .listingEditCategoryFieldsParent {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .listingEditCategoryFieldsParent > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: unset;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 414px) {
  .listingEditCategoryFieldsParent > :global(.__wab_flex-container) > *,
  .listingEditCategoryFieldsParent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > * {
    margin-left: 0px;
  }
}
.elementListingEditCard__m1Nwh:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__eky2U {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.svg__ve2Bq {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: TRM0EIRKSyuBRFC */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.freeBox__ur0Tx {
  height: auto;
}
.svg___1J1N {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: yUXGOexM9cghg9R */;
}
.svg___7UXx3 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: TPMnYF9c0V3DTuJ */;
}
.svg__wsVuO {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.elementListingEditCard__aZt3G:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__hImWn {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.svg__x28Xb {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: TRM0EIRKSyuBRFC */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.freeBox__od8Uj {
  height: auto;
  width: auto;
  display: inline-block;
}
.svg__oiC9 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: yUXGOexM9cghg9R */;
}
.svg__yw1Uj {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: TPMnYF9c0V3DTuJ */;
}
.svg__bgz4K {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.elementListingEditCard__veZvq:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__cAmxg {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.svg__jlbZv {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: TRM0EIRKSyuBRFC */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.svg__qgMo6 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: yUXGOexM9cghg9R */;
}
.svg__sL0J {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: TPMnYF9c0V3DTuJ */;
}
.svg__eAsJe {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.elementListingEditCard__rwKJc:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__psAlM {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.svg___1ALqS {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: TRM0EIRKSyuBRFC */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.svg__doErc {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: yUXGOexM9cghg9R */;
}
.svg__e0Ue {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: TPMnYF9c0V3DTuJ */;
}
.svg__sn6Yt {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.elementListingEditCard__gHjY7:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg___6H9Pu {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.svg__nMdqo {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: TRM0EIRKSyuBRFC */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.svg__eHnNl {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: yUXGOexM9cghg9R */;
}
.svg__nM8Qq {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: TPMnYF9c0V3DTuJ */;
}
.svg___9Cnqz {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.elementListingEditCard__m7J4P:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__vzkrp {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.svg__az3ZE {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: TRM0EIRKSyuBRFC */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.svg__wETgc {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: yUXGOexM9cghg9R */;
}
.svg__eVo9 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: TPMnYF9c0V3DTuJ */;
}
.svg___4EsCx {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.elementListingEditCard__xeXRx:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__gzz7B {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.svg__blpNp {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: TRM0EIRKSyuBRFC */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.svg___1Gxub {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: yUXGOexM9cghg9R */;
}
.svg___3Elzv {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: TPMnYF9c0V3DTuJ */;
}
.svg__lXwU {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.elementListingEditCard__zgTmf:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__fnxh4 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.svg___0JYmu {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: TRM0EIRKSyuBRFC */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.svg___7GU2 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: yUXGOexM9cghg9R */;
}
.svg___8KkuF {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: TPMnYF9c0V3DTuJ */;
}
.svg__tr8Ja {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.elementListingEditCard___2AQV:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg___4X5LD {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.svg__dNdcw {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: TRM0EIRKSyuBRFC */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.svg__arGuQ {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: yUXGOexM9cghg9R */;
}
.svg__qsuO {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: TPMnYF9c0V3DTuJ */;
}
.svg__lFp8 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.elementListingEditCard__ahNao:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__gVuQe {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.svg___8LDqq {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: TRM0EIRKSyuBRFC */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.svg___1EuZd {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: yUXGOexM9cghg9R */;
}
.svg__mkCq6 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: TPMnYF9c0V3DTuJ */;
}
.svg__wM2E {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.elementListingEditCard__xP1Q:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__g08D4 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.svg__nGYr {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: TRM0EIRKSyuBRFC */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.svg___8WngL {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: yUXGOexM9cghg9R */;
}
.svg__u6JFh {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: TPMnYF9c0V3DTuJ */;
}
.svg___3X80S {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.elementListingEditCard__lyUv:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__vRqpy {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.svg__xbGp {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: TRM0EIRKSyuBRFC */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.svg___0Topb {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: yUXGOexM9cghg9R */;
}
.svg__n76H {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: TPMnYF9c0V3DTuJ */;
}
.svg__ftUZz {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.elementListingEditCard__maCzs:global(.__wab_instance) {
  flex-shrink: 0;
}
.svg__icNhB {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.svg__f87Xd {
  width: 100%;
  height: 100%;
  color: #ffffff /* plasmic-token: TRM0EIRKSyuBRFC */;
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.svg__toKkY {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #cc0033 /* plasmic-token: yUXGOexM9cghg9R */;
}
.svg__uJHa {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffcc33 /* plasmic-token: TPMnYF9c0V3DTuJ */;
}
.svg__eowzt {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #00ccbb /* plasmic-token: xlrjDNwHOPv-BTc */;
}
.footerB:global(.__wab_instance) {
  position: relative;
}
