.root {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: auto;
  position: relative;
  background: #ffffff;
  border-radius: 4px;
  padding: 8px 16px 32px;
  border: 2px solid #f1f1f1 /* plasmic-token: akLbEnRWsJyyX4k */;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.root:hover {
  border-color: #dddddd /* plasmic-token: slKXmrp1ClI2Nua */;
}
.root:active {
  border-color: #a385ff /* plasmic-token: 890qOBI2HUE-rqd */;
}
.saveButtonContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.saveButtonContainer > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.saveButtonContainer > :global(.__wab_flex-container) > *,
.saveButtonContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 0px;
}
.saveProfile {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  border-radius: 100px;
  padding: 4px;
  border-width: 0px;
  border-style: none;
}
.root:hover .saveProfile {
  background: #f8f8ff;
  border-radius: 100px;
  padding: 4px;
}
.svgIcon {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__on6N3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svgIcon3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svgSave {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.root .svgSave:hover {
  color: #333333 /* plasmic-token: eab2NGdET7I8pxu */;
}
.root:hover .svgSave:hover {
  color: #333333 /* plasmic-token: eab2NGdET7I8pxu */;
}
.svg__d4O9G {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__akdL4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__inU6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__pyZg3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__pBoGv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.svg__h5Clt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  min-width: 0;
  min-height: 0;
}
.userAvatar:global(.__wab_instance) {
  position: relative;
}
.img__r7BjV {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__l5Wk7 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__yw8C {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__mXdlz {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img___5DrmI {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__lOsF7 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__aUVht {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img___48R4U {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__sELsS {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img___6Chs0 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.img__o5NSa {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border-width: 0px;
  border-style: none;
}
.freeBox__w2LvB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__w2LvB > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__w2LvB > :global(.__wab_flex-container) > *,
.freeBox__w2LvB > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__sNpFa {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__sNpFa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__sNpFa > :global(.__wab_flex-container) > *,
.freeBox__sNpFa > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
}
.freeBox__njJWm {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
}
.freeBox__njJWm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__njJWm > :global(.__wab_flex-container) > *,
.freeBox__njJWm > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.freeBox__zmqJi {
  font-size: 16px;
  font-weight: 500;
}
.freeBox__mEatm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.freeBox__c5Ikt {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__c5Ikt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__c5Ikt > :global(.__wab_flex-container) > *,
.freeBox__c5Ikt > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.freeBox__c5TaK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.tagPartnerD:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__yWxFo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__abG3U {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__ft9Ym {
  position: relative;
}
.userStatsParent {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.userStatsParent > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.userStatsParent > :global(.__wab_flex-container) > *,
.userStatsParent > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.viewButtonCount {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  max-width: 65px;
}
.viewButtonCount > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.viewButtonCount > :global(.__wab_flex-container) > *,
.viewButtonCount > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.viewButton {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: auto;
  left: auto;
  padding: 0px;
  border-width: 0px;
  border-style: none;
}
.viewDisplay {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  flex-shrink: 0;
}
.root .viewDisplay:hover {
  color: #333333 /* plasmic-token: eab2NGdET7I8pxu */;
}
.viewNumberValueParent {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
}
.viewNumberIncrement {
  line-height: 1;
  font-size: 12px;
  color: #333333 /* plasmic-token: eab2NGdET7I8pxu */;
}
.heartButtonCount {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  max-width: 65px;
}
.heartButtonCount > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.heartButtonCount > :global(.__wab_flex-container) > *,
.heartButtonCount > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.heartButton {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: auto;
  left: auto;
  padding: 0px;
  border-width: 0px;
  border-style: none;
}
.heartDisplay {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  flex-shrink: 0;
}
.root .heartDisplay:hover {
  color: #333333 /* plasmic-token: eab2NGdET7I8pxu */;
}
.heartNumberValueParent {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
}
.heartNumberIncrement {
  line-height: 1;
  font-size: 12px;
  color: #333333 /* plasmic-token: eab2NGdET7I8pxu */;
}
.bookmarkButtonCount {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  max-width: 65px;
}
.bookmarkButtonCount > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.bookmarkButtonCount > :global(.__wab_flex-container) > *,
.bookmarkButtonCount
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 4px;
}
.bookmarkButton {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: auto;
  left: auto;
  padding: 0px;
  border-width: 0px;
  border-style: none;
}
.bookmarkDisplay {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #666666 /* plasmic-token: emwzYw5VuUPA7E9 */;
  flex-shrink: 0;
}
.root .bookmarkDisplay:hover {
  color: #333333 /* plasmic-token: eab2NGdET7I8pxu */;
}
.bookmarkNumberValueParent {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
}
.bookmarkNumberIncrement {
  line-height: 1;
  font-size: 12px;
  width: auto;
  height: auto;
  color: #333333 /* plasmic-token: eab2NGdET7I8pxu */;
  display: inline-block;
}
.location {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.location > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.location > :global(.__wab_flex-container) > *,
.location > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 2px;
}
.cityText {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
}
.freeBox__ffhoM {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #333333 /* plasmic-token: eab2NGdET7I8pxu */;
  align-self: stretch;
}
.freeBox__tBbD5 {
  display: inline-block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  color: #333333 /* plasmic-token: GNC_1sONjrft_YW */;
  align-self: stretch;
  position: relative;
  width: auto;
  height: auto;
}
.freeBox__fL2Ri {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___2Kzb {
  display: block;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
  color: #333333 /* plasmic-token: eab2NGdET7I8pxu */;
  align-self: stretch;
}
